<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= yield :head %>

    <link rel="stylesheet" href="blueprint/screen.css" type="text/css" media="screen, projection"> 
    <link rel="stylesheet" href="blueprint/print.css" type="text/css" media="print"> 
    <!--[if IE]> 
        <link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection"> 
    <![endif]-->
  </head>
  <body>
    <style type="text/css">
      <!--
      A{text-decoration:none}
      -->
    </style>
      <%= yield %>
  </body>
</html>
